<div class="section-container left-section">
  <ng-container *ngIf="authenticated">
    <div class="add-anime-form">
      <h2>Dodaj novog doktora</h2>
      <form (submit)="addDoktor()" [formGroup]="form">
        <label for="ime" class="fs-20">Ime:</label>
        <textarea
          type="text"
          id="ime"
          name="ime"
          formControlName="ime"
          required
        ></textarea>

        <label for="prezime" class="fs-20">Prezime:</label>
        <textarea
          type="text"
          id="prezime"
          name="prezime"
          formControlName="prezime"
          required
        ></textarea>

        <label for="specijalizacija" class="fs-20">Specijalizacija:</label>
        <textarea
          type="text"
          id="specijalizacija"
          name="specijalizacija"
          formControlName="specijalizacija"
          required
        ></textarea>

        <label for="brojtelefona" class="fs-20">Broj telefona:</label>
        <textarea
          type="text"
          id="brojtelefona"
          name="brojtelefona"
          formControlName="brojtelefona"
          required
        ></textarea>

        <label for="ordinacija" class="fs-20">Ordinacija:</label>
        <textarea
          type="text"
          id="ordinacija"
          name="ordinacija"
          formControlName="ordinacija"
          required
        ></textarea>

        <label for="email" class="fs-20">Email:</label>
        <textarea
          type="email"
          id="email"
          name="email"
          formControlName="email"
          required
        ></textarea>

        <button type="submit">Dodaj doktora</button>
      </form>
    </div>
  </ng-container>

  <div
    *ngIf="zdravstvenaustanova$ | async as zdravstvenaustanova"
    class="anime-naslov"
  >
    <div class="doctors-container">
      <h2 class="facility-name">{{ zdravstvenaustanova.naziv }}</h2>

      <div class="doctors-list">
        <h3>Doktori</h3>
        <div *ngFor="let doktor of doktor$ | async" class="anime-item">
          <p class="title">Ime: {{ doktor.ime }}</p>
          <p class="title">Prezime: {{ doktor.prezime }}</p>
          <p class="title">Specijalizacija: {{ doktor.specijalizacija }}</p>
          <p class="title">Broj telefona: {{ doktor.brojtelefona }}</p>
          <p class="title">Ordinacija: {{ doktor.ordinacija }}</p>
          <p class="title">Email: {{ doktor.email }}</p>
          <a
            [routerLink]="['/doktor', doktor.id]"
            class="nav-link text-uppercase text-black fs-22 fw-6 ls-1"
          >
            Detalji
          </a>
          <button
            type="submit"
            class="btn btn-primary"
            (click)="delete1(doktor.id!)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-container right-section">
  <div class="add-anime-form">
    <h2>Dodaj novog pacijenta</h2>
    <form (submit)="addPacijent()" [formGroup]="form1">
      <label for="ime1" class="fs-20">Ime:</label>
      <textarea
        type="text"
        id="ime1"
        name="ime1"
        formControlName="ime1"
        required
      ></textarea>

      <label for="prezime1" class="fs-20">Prezime:</label>
      <textarea
        type="text"
        id="prezime1"
        name="prezime1"
        formControlName="prezime1"
        required
      ></textarea>

      <label for="datumrodjenja1" class="fs-20">Datum rodjenja:</label>
      <input
        type="date"
        id="datumrodjenja1"
        name="datumrodjenja1"
        formControlName="datumrodjenja1"
        required
      />

      <label for="brojtelefona1" class="fs-20">Broj telefona:</label>
      <textarea
        type="text"
        id="brojtelefona1"
        name="brojtelefona1"
        formControlName="brojtelefona1"
        required
      ></textarea>

      <label for="brosiguranja1" class="fs-20">Broj osiguranja:</label>
      <textarea
        type="text"
        id="brosiguranja1"
        name="brosiguranja1"
        formControlName="brosiguranja1"
        required
      ></textarea>

      <label for="alergije1" class="fs-20">Alergije:</label>
      <textarea
        type="text"
        id="alergije1"
        name="alergije1"
        formControlName="alergije1"
        required
      ></textarea>

      <button type="submit">Dodaj pacijenta</button>
    </form>
  </div>
  <div
    *ngIf="zdravstvenaustanova$ | async as zdravstvenaustanova"
    class="anime-naslov"
  >
    <div class="healthcare-container">
      <h2 class="facility-name">{{ zdravstvenaustanova.naziv }}</h2>

      <div class="patients-list">
        <h3>Pacijenti</h3>
        <div *ngFor="let pacijent of pacijent$ | async" class="anime-item">
          <p class="title">Ime: {{ pacijent.ime }}</p>
          <p class="title">Prezime: {{ pacijent.prezime }}</p>
          <p class="title">Datum rodjenja: {{ pacijent.datumrodjenja }}</p>
          <p class="title">Broj telefona: {{ pacijent.brojtelefona }}</p>
          <p class="title">Broj osiguranja: {{ pacijent.brosiguranja }}</p>
          <p class="title">Alergije: {{ pacijent.alergije }}</p>
          <a
            [routerLink]="['/pacijent', pacijent.id]"
            class="nav-link text-uppercase text-black fs-22 fw-6 ls-1"
          >
            Detalji
          </a>
          <button
            type="submit"
            class="btn btn-primary"
            (click)="delete(pacijent.id!)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
