<div class="holder backgroud-color">
  <div class="header-content flex flex-c text-center">
    <div class="flex">
      <ng-container *ngIf="authenticated">
        <div style="width: 900px">
          <form (submit)="addZdravstvena()" [formGroup]="form">
            <h1>Dodaj Bolnicu</h1>

            <fieldset>
              <legend>
                <span class="number">1</span> Osnovne informacije o bolnici
              </legend>

              <label for="naziv">Naziv:</label>
              <input
                type="text"
                id="naziv"
                name="naziv"
                formControlName="naziv"
                required
              />
              <label for="adresa">Adresa:</label>
              <input
                type="text"
                id="adresa"
                name="adresa"
                formControlName="adresa"
                required
              />

              <label for="kontaktTelefon">Kontakt Telefon:</label>
              <input
                type="text"
                id="kontaktTelefon"
                name="kontaktTelefon"
                formControlName="kontaktTelefon"
                required
              />
            </fieldset>
            <button type="submit">Dodaj bolnicu</button>
          </form>
        </div>
      </ng-container>

      <div>
        <div class="wraper">
          <div
            *ngFor="
              let zdravstvenaustanova of zdravstveneUstanove$ | async;
              let i = index
            "
            class="anime-item"
          >
            <div class="anime-item-info with-border">
              <p class="anime-item-info-item title">
                {{ zdravstvenaustanova.naziv }}
              </p>
              <p class="anime-item-info-item genre">
                Ulica: {{ zdravstvenaustanova.adresa }}
              </p>
              <p class="anime-item-info-item episodes">
                Kontakt kontaktTelefon:
                <a
                  class="linkic"
                  [href]="'tel:' + zdravstvenaustanova.kontaktTelefon"
                >
                  {{ zdravstvenaustanova.kontaktTelefon }}
                </a>
              </p>
              <a
                [routerLink]="['/zdravstvenaustanova', zdravstvenaustanova.id]"
                class="linkic text-uppercase fs-22 fw-6 ls-1"
              >
                Detalji
              </a>
              <a
                [routerLink]="['/lekovi', zdravstvenaustanova.id]"
                class="linkic text-uppercase fs-22 fw-6 ls-1"
              >
                Lekovi
              </a>
              <a
                [routerLink]="['/pomocnoosoblje', zdravstvenaustanova.id]"
                class="linkic text-uppercase fs-22 fw-6 ls-1"
              >
                Pomocno osoblje
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
